*,
html {
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.side-bar {
    background-color: #caf0f8;
    flex: 2;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 8;
    min-height: 100vh;
}

.navbar {
    height: 80px;
    background-color: #bbe8f1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    padding: 20px;
    overflow-y: scroll;
    min-height: 80vh;
    max-height: 80vh;
}

.side-bar .box-menu {
    border-width: 2px;
    border-color: darkslateblue;
    border-style: solid;
    border-radius: 8px;
    padding-top: 10px;
    min-width: 120px;
}

.side-bar .box-menu:hover .value {
    display: block;
}

.side-bar .box-menu .title {
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.side-bar .box-menu .value {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}

.side-bar .box-menu .value div {
    margin-bottom: 5px;
}

.side-bar .box-menu .value div:hover a {
    color: firebrick;
}

.side-bar .box-menu .value .active {
    color: firebrick;
}

.content .title {
    margin-bottom: 20px;
}

table tr td {
    vertical-align: top;
}

.portofolio table .desc {
    padding-left: 30px;
}

.portofolio table img {
    margin-bottom: 25px;
}